App\Entity\Referentiel:
  attributes:
    normalization_context:
      groups: ['referentiel_read']
    route_prefix: /admin
    security: is_granted('ROLE_CM')
    security_message: Access Denied
  properties:
    groupeCompetences:
      subresource:
        resourceClass: App\Entity\GroupeCompetence
        collection: false
  collectionOperations:
    get_referentiels:
      method: GET
      path: /referentiels
      security: is_granted('ROLE_APPRENANT')
    add_referentiel:
      method: POST
      path: /referentiels
      controller: App\Controller\ReferentielController::addReferentiel
      deserialize: false
  itemOperations:
    get_referentiel:
      method: GET
      path: /referentiels/{id}
      requirements:
        id: \d+
      security: is_granted('ROLE_APPRENANT')
    get_grpecompetence_in_referentiel:
      method: GET
      path: /referentiels/{idRef}/grpecompetences/{idGrpe}
      security: is_granted('ROLE_APPRENANT')
      controller: App\Controller\ReferentielController::getCompetencesInReferentiel
      defaults:
        _api_receive: false
      requirements:
        idRef: \d+
        idGrpe: \d+
    set_referentiel:
      method: PUT
      path: /referentiels/{id}
      denormalize_context:
        groups: [ 'referentiel:write' ]
      requirements:
        id: \d+

    delete_referentiel:
      method: DELETE
      path: /referentiels/{id}
      requirements:
        id: \d+
      security: is_granted('ROLE_ADMIN')
